infrastructure/node-red/flows.json
[{"id":"6d3ffa3f5e9dee09","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"3cc2b997211cff4f","type":"mqtt-broker","name":"","broker":"host.docker.internal","port":1883,"clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"674d92889a3c4b42","type":"mqtt in","z":"6d3ffa3f5e9dee09","name":"MQTT in","topic":"client/+/factory/+/machine/+/#","qos":"2","datatype":"auto-detect","broker":"3cc2b997211cff4f","nl":false,"rap":true,"rh":0,"inputs":0,"x":2040,"y":300,"wires":[["3e1f77557a908f8f"]]},{"id":"9a03b7846b64486b","type":"function","z":"6d3ffa3f5e9dee09","name":"Raw -> Event","func":"// Extract topic parts\nconst topicParts = msg.topic.split(\"/\");\n\nconst client_id = topicParts[1];\nconst factory_id = topicParts[3];\nconst machine_id = topicParts[5];\nconst sensor_type = topicParts[6];\n\nconst payload = msg.payload;\n\n// Init event\nlet event = {\n    client_id,\n    factory_id,\n    machine_id,\n    device_id: payload.device_id || \"simulator\",\n    event_type: null,\n    value: null,\n    metadata: {}\n};\n\n// ----------------------\n// PIECE DETECTION\n// ----------------------\nif (sensor_type === \"distance\") {\n    const threshold = 7;\n\n    const lastState = context.get(\"piece_present\") || false;\n    const currentState = payload.distance < threshold;\n\n    if (currentState && !lastState) {\n        event.event_type = \"piece_detected\";\n        event.value = \"1\";\n    }\n\n    context.set(\"piece_present\", currentState);\n}\n\n// ----------------------\n// CLASSIFICATION\n// ----------------------\nif (sensor_type === \"camera\" && payload.class) {\n    event.event_type = \"classification\";\n    event.value = payload.class;\n    event.metadata = {\n        confidence: payload.confidence || 0.9\n    };\n}\n\n// ----------------------\n// MACHINE STATE (vibration)\n// ----------------------\nif (sensor_type === \"vibration\") {\n    const threshold = 1.5;\n\n    const lastState = context.get(\"machine_state\") || \"stopped\";\n    const currentState = payload.vibration > threshold ? \"running\" : \"stopped\";\n\n    if (currentState !== lastState) {\n        event.event_type = \"machine_state\";\n        event.value = currentState;\n    }\n\n    context.set(\"machine_state\", currentState);\n}\n\n// If no event → ignore\n// if (!event.event_type) {\n//     return null;\n// }\n\nmsg.payload = event;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2440,"y":360,"wires":[["b01cdabad8c3e68c"]]},{"id":"b01cdabad8c3e68c","type":"debug","z":"6d3ffa3f5e9dee09","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2680,"y":340,"wires":[]},{"id":"3e1f77557a908f8f","type":"json","z":"6d3ffa3f5e9dee09","name":"","property":"payload","action":"obj","pretty":false,"x":2230,"y":340,"wires":[["9a03b7846b64486b"]]}]